{% extends 'index.html' %}
{% load static %}
{% block content %}


<style>
    .category-add-list {
        width: 80% !important;
        margin: auto;
    }

    @media (max-width:700px) {
        .category-add-list {
            width: 100% !important;
        }
    }

    .contenttable table {
        border: .5px solid gray;
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        /* min-height: 500px; */
    }

    .contenttable td {
        height: 50px;
    }

    .contenttable tr:nth-child(even) {
        background-color: rgba(173, 216, 230, 0.305);
    }

    .contenttable th,
    td {
        padding: 10px;
        /* border-radius: 20px; */
        border-right: .5px solid gray;
    }

    .contenttable th {
        height: 60px !important;
    }
</style>

<div class="category-add-list">
    <div class="content-page">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">All Tax </h4>
                                <p>Tax Of Month <span class="text-primary h5">{{month}}</span> </p>
                            </div>
                            <div class="header-title">
                                <button class="btn btn-primary" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">Search By date</button>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Tax search</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form  method="post">
                                                {% csrf_token %}
                                                <label for="">Start Date</label>
                                                <input type="date" class="form-control" name="sdate" required>
                                                <label for="">End Date</label>
                                                <input type="date" class="form-control" name="edate" required>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="contenttable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Date</th>
                                    <th>Particulars</th>
                                    <th>Tax Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in combined_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ record.date|date:"d M Y" }}</td>
                                    <td>{{ record.particulars }}</td>
                                    <td>{{ record.tax_amount|floatformat:2 }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <th colspan="3" style="text-align: right;">Total Tax:</th>
                                    <th>{{ total_tax|floatformat:2 }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const startDateInput = document.querySelector('input[name="sdate"]');
        const endDateInput = document.querySelector('input[name="edate"]');

        startDateInput.addEventListener('change', function () {
            // Set the minimum value of the end date to the start date
            endDateInput.min = startDateInput.value;
        });
    });
</script>

{% endblock %}