{% load static %}

{% for message in messages %}

<div class="toast-container position-fixed p-3 " style="right: 0; top:70px;z-index: 2;margin: auto;">
    <div id="toast-{{ forloop.counter }}" class="toast {{ message.tags }}" role="alert" aria-live="assertive"
        aria-atomic="true" style="opacity: 1 !important;width:300px !important ;">
        <!-- <div class="toast-header">
<img src="{%static 'images\tick.png' %}" style="width:20px" class="rounded me-2" alt="...">
<strong class="me-auto"></strong>
<small></small>
<button type="button" class="btn-close btn" data-bs-dismiss="toast" aria-label="Close">x</button>
</div> -->
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
</div>
{% endfor %}
<div style="overflow: auto;">
    <table class="table table-striped mt-3" style="width: 100% !important;">
        <tr class="head-tr-class">
            <th>Service</th>
            {% if request.user.role == "user" %}
            <th></th>
            <th></th>
            <th></th>
            {% else %}
            <th>Service Charge</th>
            <th>Govt. Charge</th>
            <th>Tax</th>
            {% endif %}
            <th>Total</th>
            <th>Actions</th>
            
        </tr>
        {% for item in order.orderitem_set.all %}
        <tr>
            <td>
                {{ item.service.title }}

                <a data-bs-toggle="modal" data-bs-target="#client-add-{{item.id}}" class="badge bg-dark text-white">Add
                    or
                    View Client Details</a>

                <!-- Modal -->
                <div class="modal fade" id="client-add-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Client Details</h5>
                                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <div class="modal-body">
                                <form action="{%url 'add_client_to_service' item.id %}" method="post">
                                    {% csrf_token %}
                                    {{client_form.as_p}}


                                    <button type="submit" class="btn btn-primary">Save Data</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

            </td>
            {% if request.user.role == "user" %}
            <td>
                <!-- <input type="number" value="{{ item.total_price |floatformat:2 }}" name="unit_price" id="unit_price"
                    class="form-control" readonly> -->
                <div class="row mt-2">
                    <div class="col-8">
                        <span class="text-dark font-sm">Fine amount: <span class="text-danger">{{item.govt_fine}}</span></span>
                    </div>
                    <div class="col-4"><button data-bs-toggle="modal" data-bs-target="#fine-add-{{item.id}}"
                            class="btn btn-sm btn-outline-warning"> Add Fine</button></div>
                </div>

                <!-- Modal for fine  -->
                <div class="modal fade" id="fine-add-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Fine To Service</h5>
                                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <div class="modal-body">
                                <form action="{%url 'add_fine_to_order_item' item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" class="form-control" name="fine" required
                                        placeholder="Fine On Service">

                                    <br>
                                    <button type="submit" class="btn btn-primary">Add Fine</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <!-- <input type="number" value="{{ item.service_fee }}" name="quantity" class="form-control" readonly> -->
                <div class="row mt-2">
                    <div class="col-8">
                        <span class="text-dark font-sm">Extra amount: <span class="text-warning">{{item.extra_amount}}</span></span>
                    </div>
                    <div class="col-4"><button data-bs-toggle="modal" data-bs-target="#extra-add-{{item.id}}"
                            class="btn btn-sm btn-outline-warning"> Add Extra</button></div>
                </div>

                <!-- Modal for Extra amount  -->
                <div class="modal fade" id="extra-add-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Extra Amount To Service</h5>
                                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <div class="modal-body">
                                <form action="{%url 'add_extras_to_order_item' item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" class="form-control" name="extra" required
                                        placeholder="Extra Amount for Service">

                                    <br>
                                    <button type="submit" class="btn btn-primary">Add Extra Amount</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
            <td>{{ item.price_from_customer |floatformat:2 }}</td>
            <td>
                <button class="btn btn-sm btn-primary delete-item" data-item-id="{{ item.id }}">Delete</button>
                <!-- <button class="btn btn-sm btn-secondary decrease-quantity" data-item-id="{{ item.id }}">-</button> -->
            </td>
            {% else %}
            <td>
                <input type="number" value="{{ item.total_price |floatformat:2 }}" name="unit_price" id="unit_price"
                    class="form-control" readonly>
                <div class="row mt-2">
                    <div class="col-8">
                        <span class="text-dark font-sm">Fine amount: <span class="text-danger">{{item.govt_fine}}</span></span>
                    </div>
                    <div class="col-4"><button data-bs-toggle="modal" data-bs-target="#fine-add-{{item.id}}"
                            class="btn btn-sm btn-outline-warning"> Add Fine</button></div>
                </div>

                <!-- Modal for fine  -->
                <div class="modal fade" id="fine-add-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Fine To Service</h5>
                                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <div class="modal-body">
                                <form action="{%url 'add_fine_to_order_item' item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" class="form-control" name="fine" required
                                        placeholder="Fine On Service">

                                    <br>
                                    <button type="submit" class="btn btn-primary">Add Fine</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <input type="number" value="{{ item.service_fee }}" name="quantity" class="form-control" readonly>
                <div class="row mt-2">
                    <div class="col-8">
                        <span class="text-dark font-sm">Extra amount: <span class="text-warning">{{item.extra_amount}}</span></span>
                    </div>
                    <div class="col-4"><button data-bs-toggle="modal" data-bs-target="#extra-add-{{item.id}}"
                            class="btn btn-sm btn-outline-warning"> Add Extra</button></div>
                </div>

                <!-- Modal for Extra amount  -->
                <div class="modal fade" id="extra-add-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Extra Amount To Service</h5>
                                <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <div class="modal-body">
                                <form action="{%url 'add_extras_to_order_item' item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" class="form-control" name="extra" required
                                        placeholder="Extra Amount for Service">

                                    <br>
                                    <button type="submit" class="btn btn-primary">Add Extra Amount</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td><input type="number" value="{{ item.total_tax  }}" name="discount" class="form-control" readonly></td>

            <td>{{ item.price_from_customer |floatformat:2 }}</td>
            <td>
                <button class="btn btn-sm btn-primary delete-item" data-item-id="{{ item.id }}">Delete</button>
                <!-- <button class="btn btn-sm btn-secondary decrease-quantity" data-item-id="{{ item.id }}">-</button> -->
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th colspan="5"></th>
        </tr>
        <tr>
            <td colspan="3" class="text-center bg-info-light">Net Total </td>
            <td>inclusive of tax ({{order.total_tax|floatformat:2 }})</td>
            <td style="font-size:medium;" colspan="2" class="bg-info-light text-left">
                {{order.total_amount_before_discount|floatformat:2 }}
            </td>
            <!-- <th class="bg-info-light"></th> -->
        </tr>
        <tr>
            <td colspan="4" class="text-center bg-info-light">Govt Fee</td>
            <td style="font-size:large;" colspan="2" class="bg-info-light text-left">
                {{order.service_fee|floatformat:2 }}
            </td>
            <!-- <th class="bg-info-light"></th> -->
        </tr>

        <tr>
            <td colspan="4" class="text-center bg-info-light">Discount</td>
            <td style="font-size:large;" colspan="2" class="bg-info-light text-left">
                -{{order.bill_discount|floatformat:2 }}
            </td>
            <!-- <th class="bg-info-light"></th> -->
        </tr>

        <tr>
            <th colspan="4" class="text-center bg-info-light">Grand Total</th>
            <th style="font-size: x-large;" id="total1" colspan="2" class="bg-info-light text-left">
                {{order.total_amount_from_customer|floatformat:2 }}
            </th>
            <!-- <th class="bg-info-light"></th> -->
        </tr>
    </table>
</div>
<div class="card">
    {% if request.user.role == "user" %}
    <div class="card-header d-flex justify-content-between">
        <div class="row">
            <div class="col-md-12 mt-3 text-center">
                <a href="{%url 'voucher' order.id %}" target="_blank" class="btn btn-primary">Print Voucher</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <!-- <form id="payment" action=""> -->
            <div class="row">
                <div class="col-md-3">
                    <label>Total Amount:</label>
                    <input type="number" class="form-control" readonly
                        value="{{order.total_amount_from_customer |floatformat:2}}" name="total_amount">
                </div>
                <div class="col-md-3">
                    <label>Amount Paid:</label>
                    <br>
                    <input type="number" class="form-control" id="amount-paid"
                        value="{{order.paid_amount |floatformat:2}}" name="amount_paid">



                </div>
                <div class="col-md-3">
                    <label>Discount On total Bill:</label>
                    <br>
                    <input type="hidden" class="form-control" id="discount-amount" value="" name="discount_amount">
                    <span class="text0-info">Bill Discount: {{order.bill_discount |floatformat:2}}</span>
                    <a class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#bill_discount">Add
                        Bill Discount</a>



                </div>
                <div class="col-md-3">
                    <label>Balance amount:</label>
                    <br>
                    <input type="number" readonly class="form-control" id="balance-amount"
                        value="{{order.balance_amount |floatformat:2}}" name="balance_amount">

                </div>
                <div class="col-md-12">
                    <h3 id="payment-status">{{order.payment_status1}}</h3>
                </div>
                <div class="col-md-3 mt-3">
                    <a href="{%url 'invoice' order.id %}" target="_blank" class="btn btn-primary">Print
                        Invoice</a>
                </div>
                <div class="col-md-3 mt-3">
                    <a data-bs-toggle="modal" data-bs-target="#exampleModal{{order.id}}"
                        class="btn btn-secondary">Save</a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal{{order.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-body">
                                    <p>Are you sure you want to save this service?</p>
                                    <p class="text-info" style="font-size: small;">
                                        <span class="text-danger"><sup>**</sup></span>
                                        Saving this service will reflect the payment amount in income records.
                                        Once saved, you will not be able to edit the service booking.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a href="{%url 'save_order' order.id %}" class="btn btn-primary">Save Changes</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-3 mt-3">
                    <a data-bs-toggle="modal" data-bs-target="#paymentmode" class="btn btn-info">Add Payment</a>
                </div>
                <div class="col-md-3 mt-3">
                    <a data-bs-toggle="modal" data-bs-target="#bill_discount" class="btn btn-warning">Add Discount</a>
                </div>

                <div class="modal fade" id="bill_discount" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Bill Discount</h5>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'add_discount' order.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="discount" required class="form-control"
                                        placeholder="discount"><br>
                                    <button type="submit" class="btn btn-info">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="paymentmode" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Payment</h5>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'add_payment' order.id %}" method="post">
                                    {% csrf_token %}
                                    <label for="">Amount</label>
                                    <input type="number" name="amount" required class="form-control"
                                        placeholder="Amount"><br>
                                    <label for="">Payment Mode</label>
                                    <select name="mode_payment" id="id_payment_mode" class="form-control">
                                        <option value="Cash">Cash</option>
                                        <option value="Credit Card">Credit Card</option>
                                        <option value="Debit Card">Debit Card</option>
                                        <option value="Net Banking">Net Banking</option>
                                        <option value="UPI">UPI</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="Other">Other</option>
                                    </select>

                                    <br>
                                    <button type="submit" class="btn btn-info">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    {% endif %}


</div>


<script src=""></script>

<script>
    $(document).ready(function () {
        $('#amount-paid').on('input', function () {
            var amountPaid = parseFloat($(this).val());
            var totalAmount = parseFloat($('input[name="total_amount"]').val());
            var balanceAmount = totalAmount - amountPaid;

            $('#balance-amount').val(balanceAmount);

            var paymentStatus;
            if (amountPaid == 0) {
                paymentStatus = 'UNPAID';
            } else if (amountPaid >= totalAmount) {
                paymentStatus = 'PAID';
            } else {
                paymentStatus = 'PARTIALLY';
            }

            $('#payment-status').text(paymentStatus);

            // Send AJAX request to update the backend
            $.ajax({
                url: "{%url 'update_order_payment' order.id %}", // Update with your URL pattern name
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    paid_amount: amountPaid
                },
                success: function (response) {
                    console.log("Order payment updated successfully.");

                },
                error: function (xhr, errmsg, err) {
                    console.log("Error updating order payment:", errmsg);
                }
            });
        });
    });


    $(document).ready(function () {
        function calculateBalance() {
            var amountPaid = parseFloat($('#amount-paid').val()) || 0;
            var discountAmount = parseFloat($('#discount-amount').val()) || 0;
            var totalAmount = parseFloat($('input[name="total_amount"]').val());
            var discountedTotal = totalAmount - discountAmount;
            var balanceAmount = discountedTotal - amountPaid;

            $('#balance-amount').val(balanceAmount);

            var paymentStatus;
            if (amountPaid == 0) {
                paymentStatus = 'UNPAID';
            } else if (amountPaid >= discountedTotal) {
                paymentStatus = 'PAID';
            } else {
                paymentStatus = 'PARTIALLY';
            }

            $('#payment-status').text(paymentStatus);

            // Send AJAX request to update the backend
            $.ajax({
                url: "",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    payed_amount: amountPaid,
                    discount: discountAmount
                },
                success: function (response) {
                    console.log("Order payment updated successfully.");
                },
                error: function (xhr, errmsg, err) {
                    console.log("Error updating order payment:", errmsg);
                }
            });
        }

        $('#amount-paid, #discount-amount').on('input', calculateBalance);
    });


</script>