{% extends 'index.html' %}
{% block content %}

<style>
    .category-add-list {
        width: 80% !important;
        margin: auto;
    }

    @media (max-width:700px) {
        .category-add-list {
            width: 100% !important;
        }
    }
</style>

<div class="category-add-list">
    <div class="content-page">
        <div class="container-fluid add-form-list">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Customer Details and Update</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Display Section -->
                            <!-- <div class="row mb-4">
                                <div class="col-md-6">
                                    <p><strong>Price Before Tax:</strong> {{ service.price_before_tax }}</p>
                                    <p><strong>Tax Amount:</strong> {{ service.tax_amount }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Price:</strong> {{ service.price }}</p>
                                    <p><strong>Tax Type:</strong> {{ service.tax }}</p>
                                </div>
                            </div> -->

                            <!-- Update Form -->
                            <form method="post" data-toggle="validator" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    {% for field in form %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ field.label }}</label>
                                            {{ field }}
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Update Customer</button>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page end -->
        </div>
    </div>
</div>

<style>
    td{
        height: 35px;
    }
    
</style>

<div class="content-page card position-relative mt-5">
    <div class="container-fluid card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">Bookings</h4>
                        <!-- {% for message in messages %}
                        <div class="alert {{ message.tags }}" role="alert" id="alert-{{ forloop.counter }}">
                            <div class="iq-alert-text"><b></b> {{ message }}</div>
                        </div>
                        {% endfor %} -->
                        <p class="mb-0"></p>
                    </div>
                   
    
    
                  
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive rounded mb-3">
                    <table id="userTable" class="table table-striped table-borderless display expandable-table">
                        <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th>
                                    <div class="checkbox d-inline-block">
                                        <input type="checkbox" class="checkbox-input" id="checkbox1">
                                        <label for="checkbox1" class="mb-0"></label>
                                    </div>
                                </th>
                                <th>Invoice Number</th>
                                <th>Order Date</th>
                                <th>Total Amount</th>
                                <th>Paid Amount</th>
                                <th>Balance Amount</th>
                                <th>Payment Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in bookings %}
                            <tr>
                                <td>
                                    <div class="checkbox d-inline-block">
                                        <input type="checkbox" class="checkbox-input" id="checkbox{{ order.id }}">
                                        <label for="checkbox{{ order.id }}" class="mb-0"></label>
                                    </div>
                                </td>
                             
                                <td>{{ order.invoice_number }}</td>
                                <td>{{ order.order_date|date:"Y-m-d H:i" }}</td>
                                <td>{{ order.total_amount_from_customer }}</td>
                                <td>{{ order.paid_amount }}</td>
                                <td>{{ order.balance_amount }}</td>
                                <td>{{ order.payment_status1 }}</td>
                                <td>
                                    <a href="{%url 'edit_order_booking' order.id %}" class="btn btn-dark"><i class="bi bi-pencil-square"></i></a>
                                    <a href="{% url 'create_booking' order.id %}" class="btn btn-info"><i class="bi bi-receipt-cutoff"></i> Bill</a>
                                    <a href="{% url 'delete_order' order.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
       
    </div>
    
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

    $(document).ready(function () {
        $('#userTable').DataTable({
            responsive: true, // Optional: Makes the table responsive
            paging: true,     // Enables pagination
            searching: true,  // Enables search functionality
            ordering: true,   // Enables column sorting
            info: true        // Shows table information
        });
    });

</script>

{% endblock %}
